body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --light: #f8f9fa;
    --secondary: #abd5bd;
    --dark: #343a40;
    --primary-color: #fb7051;
    --secondary-color: #64b5f6;
    --boder: #e9ecef;

}

*{
    box-sizing: inherit;
}

html{
    font-size: 100%;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.bg--dark{
    background: rgba(0,0,0,0.12);
}

.bg--blue{
    background: var(--secondary-color);
    color: #fff;
}

.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary-color);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.text-center{
    text-align: center;
}

.btn{
    padding: 15px 20px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover{
    opacity: 1
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

::-webkit-input-placeholder {
    color: var(--white-color);
}

:focus::-webkit-input-placeholder {
    opacity: 0.5;
}