body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --light: #f8f9fa;
    --secondary: #abd5bd;
    --dark: #343a40;
    --primary-color: #fb7051;
    --secondary-color: #64b5f6;
    --boder: #e9ecef;

}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}